@using WebMvc.Models.TPIslemIptalIadeKismi2;
@model TPIslemIptalIadeKismi2SonucViewModel
@{
    ViewData["Title"] = "TPIslemIptalIadeKismi2";
    ViewData["Menu"] = "6/2";
}
<div class="d-flex justify-content-center mt-2" style="width: 100%">
    <h3>İşlem İptal ve İadeleri (TP_Islem_Iptal_Iade_Kismi2)</h3>
</div>
@if (Model.Sonuc is not null)
{
    <div class="pt-2 ps-2" style="width: calc(100% - 40px)">
        @{
            if (Model.Sonuc.Sonuc == "1")
            {
                <div class="alert alert-success" role="alert">
                    Sonuç Başarılı!
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    İşlem Başarısız!
                </div>
            }
        }
    </div>
    <table class="table table-bordered ms-2 mt-2" style="width: calc(100% - 50px)">
        <thead>
            <tr>
                <th scope="col">Parametre</th>
                <th scope="col">Değer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Sonuc</th>
                <td>@Model.Sonuc.Sonuc</td>
            </tr>
            <tr>
                <th scope="row">Sonuc_Str</th>
                <td>@Model.Sonuc.Sonuc_Str</td>
            </tr>
            <tr>
                <th scope="row">Banka_Sonuc_Kod</th>
                <td>@Model.Sonuc.Banka_Sonuc_Kod</td>
            </tr>
            <tr>
                <th scope="row">Bank_AuthCode</th>
                <td>@Model.Sonuc.Bank_AuthCode</td>
            </tr>
            <tr>
                <th scope="row">Bank_Trans_ID</th>
                <td>@Model.Sonuc.Bank_Trans_ID</td>
            </tr>
            <tr>
                <th scope="row">Bank_Extra</th>
                <td>@Model.Sonuc.Bank_Extra</td>
            </tr>
            <tr>
                <th scope="row">Bank_HostRefNum</th>
                <td>@Model.Sonuc.Bank_HostRefNum</td>
            </tr>
        </tbody>
    </table>
}
<br />